body {
  background: white;
}
.navbar {
  text-align: right;
  margin-top: 20px;
  margin-right: 12%;
}
.direction {
  display: inline;
}
.direction a {
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  font-family: 'Poppins';
  color: #69b99d;
  margin-left: 15px;
}
.direction a:hover {
  color: #263547;
  transition: 2s;
}

.part1 {
  display: flex;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.logo {
  display: inline-block;
  width: 47%;
  margin: 0 1.5%;
  padding: 30px 20px;
}
.introduction {
  background-color: #69b99d;
  display: inline-block;
  width: 47%;
  margin: 0 1.5%;
  padding: 30px 20px;
  border: 1px solid #263547;
  border-radius: 20px;
}
.introduction:hover {
  border: 8px solid #263547;
  transition: 2s;
}

.introduction img:hover {
  width: 250px;
  height: 250px;
  transition: 2s;
}
.introduction div {
  display: flex;
}
.introduction h1 {
  color: #263547;
  text-align: left;
  margin-top: 10%;
  font-size: 30px;
  font-family: 'Poppins';
}
.introduction p {
  color: #263547;
  text-align: center;
  margin-top: 60px;
  font-size: 20px;

  font-family: 'DM Sans';
}

.introduction img {
  width: 200px;
  height: 200px;
  margin-left: 0;
  display: block;
}
